# Flask configuration
FLASK_ENV=development
PORT=5000
HOST=127.0.0.1
FFMPEG_PATH=backend/bin/ffmpeg.exe

# Storage configuration (relative to workspace or absolute)
UPLOAD_TEMP_DIR=storage/temp
UPLOAD_FINAL_DIR=storage/mock_cloud

# Upload limitations
# 500MB max total file size
MAX_CONTENT_LENGTH=524288000
# 5MB chunk size
CHUNK_SIZE=5242880
